@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'colors.scss';

$theme-colors: (
  'custom-orange': $custom-orange, 
  'custom-navy': $custom-navy,
  'custom-blue': $custom-blue,
  'custom-green': $custom-green
);

@import '~bootstrap/scss/bootstrap';

:root {
  --custom-orange: #EC5D37;
  --custom-navy: #141A32;
  --custom-blue: #014E70;
  --custom-green: #27AE60;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--custom-navy);
  color: #ffffff; 
}

main {
  text-align: center;
  margin: 0 auto;
}